
<!--<p>{{unObjetCollegueFourni}}</p>-->
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4 col-sm-12">
      <img src={{col.photoUrl}} class="rounded img-fluid" alt="">
    </div>
    <div class="col-4">
      Matricule <br>
      Nom <br>
      Prénoms <br>
      Date de naissance <br>
      Email <br><br><br>
      <a href="#" (click)="clickCreerClient()">Créer un nouveau collègue</a>
    </div>
    <div class="col-4">
      {{col.matricule}} <br>
      {{col.nom}} <br>
      {{col.prenoms}} <br>
      {{col.dateDeNaissance.getUTCDate()}}/{{col.dateDeNaissance.getUTCMonth()}}/{{col.dateDeNaissance.getFullYear()}} <br>
      {{col.email}} <br><br><br>
      <button (click)="clickModifierClient()" class="btn btn-primary float-right" type="button">Modifier</button>

    </div>
  </div>

</div>
