
{{nouveauCollegue | json}}

<form #etatForm="ngForm">
  <!--<div class="form-group" >
    <label for="matricule">Matricule </label>
    <input type="text" class="form-control" name="matricule" [(ngModel)]="nouveauCollegue.matricule" readonly>
  </div>-->

  <div class="form-group" [ngClass] ="{'was-validated' : etatNom.touched}"> <!-- {classe CSS voulue : un booléen qui selon sa valeur
    active ou désactive la classe CSS -->
    <label for="nom">Nom </label>
    <input type="text" #etatNom="ngModel" class="form-control" name="nom" [(ngModel)]="nouveauCollegue.nom" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Nom invalide</div>
  </div>

  <div class="form-group" [ngClass] ="{'was-validated' : etatPrenoms.touched}">
    <label for="prenoms">Prénoms </label>
    <input type="text" #etatPrenoms="ngModel" class="form-control" name="prenoms" [(ngModel)]="nouveauCollegue.prenoms" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Prénoms invalide</div>
  </div>

  <div class="form-group" [ngClass] ="{'was-validated' : etatEmail.touched}">
    <label for="email">Email </label>
    <input type="email" #etatEmail="ngModel" class="form-control" name="email" [(ngModel)]="nouveauCollegue.email" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Email invalide</div>
  </div>

  <div class="form-group" [ngClass] ="{'was-validated' : etatDateDeNaissance.touched}">
    <label for="dateDeNaissance">Date de Naissance </label>
    <input type="date" #etatDateDeNaissance="ngModel" class="form-control" name="dateDeNaissance" [(ngModel)]="nouveauCollegue.dateDeNaissance" required>
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">Date de Naissance invalide</div>
  </div>

  <div class="form-group" [ngClass] ="{'was-validated' : etatPhotoURL.touched}">
    <label for="photoUrl">Photo URL </label>
    <input type="url" #etatPhotoURL="ngModel" class="form-control" name="photoUrl" [(ngModel)]="nouveauCollegue.photoUrl" required minlength="7">
    <div class="valid-feedback"></div>
    <div class="invalid-feedback">URL de la photo invalide</div>
  </div>

  <hr>
  Formulaire valide : {{etatForm.valid}}

  <br>

  <button type="submit" class="btn btn-primary">Créer</button>

</form>
